{% extends "clinic_app/base.html" %}
{% block content %}

<div>
    <h1>Appointment List</h1>
    <table style="margin-top: 2rem; border: 0.1rem solid black;">
        <thead class="">
            <tr>
                <th style="width:16rem">Doctor</th>
                <th style="width:16rem">Patient</th>
                <th style="width:7rem">Time</th>
                <th style="width:7rem">Date</th>
                <th style="width:35rem">Reason</th>
                <th style="width:10rem">Status</th>
                <th style="width:10rem">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr class="table-1">
                <td>{{ appointment.doctor }}</td>
                <td>{{ appointment.patient_name }}</td>
                <td>{{ appointment.appointment_time }}</td>
                <td>{{ appointment.appointment_date }}</td>
                <td>{{ appointment.reason }}</td>
                <td>{{ appointment.status }}</td>   
                <td>
                    <a href="{% url 'clinic_app:appointment_edit' appointment.id %}">Edit</a>
                    <a href="{% url 'clinic_app:appointment_delete' appointment.id %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}