{% extends "clinic_app/base.html" %}
{% block title %}Create Appointment{% endblock %}
{% block content %}
<div class="create-appointment-container">
  <h2 class="page-title">Book Appointment</h2>

  <form method="POST" class="form-create-appointment">
    {% csrf_token %}

    <div>
      <label class="form-label">Patient Name</label>
      {{ form.patient_name }}
    </div>

    <div>
      <label class="form-label">Email</label>
      {{ form.patient_email }}
    </div>

    <div>
      <label class="form-label">Contact Number</label>
      {{ form.patient_contact }}
    </div>

    <div>
      <label class="form-label">{{form.doctor.label}}</label>
      {{ form.doctor }}
    </div>
  
    <div>
      <label class="form-label">{{form.reason.label}}</label>
      {{ form.reason }}
    </div>

      {{ form.appointment_date }}
   
      {{ form.appointment_time }}

    <button type="submit" class="btn btn-create-appointment">Book</button>
  </form>
</div>
{% endblock %}
